@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

/* ------------------------------------Reset----------------------------------- */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big,
body, center, canvas, caption, cite, code, command, datalist, dd, del, details,
dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen,
label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s,
samp, section, small, span, source, strike, strong, sub, sup, table, tbody,
tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
    background: transparent;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: top;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table, table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

embed {
    vertical-align: top;
}

article, aside, audio, canvas, command, datalist, details, embed, figcaption,
figure, footer, header, hgroup, keygen, meter, nav, output, progress, section,
source, video {
    display: block;
}

mark, rp, rt, ruby, summary, time {
    display: inline;
}

input, textarea, select {
    border: 0;
    padding: 0;
    margin: 0;
    outline: 0;
}

iframe {
    border: 0;
    margin: 0;
    padding: 0;
}

/* ---------------------------------------------------------------------------- */

html {
    -webkit-text-size-adjust: none;
}

html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    color: #3F3F3F;
    font: 14px/25px Arial, Helvetica, sans-serif;
    font-family: Vidaloka, serif;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
    vertical-align: top;
}

a {
    color: #ff970b;
    text-decoration: none;
}

/* Типографика --------------------------------------------------------------- */

h1, h2 {
    font-size: 25px;
    line-height: 25px;
}

h3, h4 {
    font-size: 20px;
    line-height: 20px;
}

h5, h6 {
    font-size: 16px;
    line-height: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Vidaloka", serif;
}

p {
    margin: 10px 0;
    color: #777;
}

/* Утилиты ------------------------------------------------------------------- */

.t-center { text-align: center; }
.t-left   { text-align: left; }
.t-right  { text-align: right; }

.f-right  { float: right; }
.f-left   { float: left; }

.post:after, .post:before,
article:after, article:before,
section:after, section:before,
.clearfix:after, .clearfix:before {
    clear: both;
    content: '\0020';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clear {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Line ---------------------------------------------------------------------- */

hr.line {
    margin: 15px auto;
    padding: 0;
    max-width: 90px;
    border: 0;
    border-top: 5px solid #c1c1c1;
    text-align: center;
}

/* Видео --------------------------------------------------------------------- */

.video embed,
.video object,
.video iframe {
    width: 100%;
    height: auto;
}
