/* -------------------------------- Language flag ---------------------------- */
.flag-icon {
    display: block;
    width: 26px;
    height: auto;
    border-radius: 2px;
}

/* -------------------------------------Buttons------------------------------- */
a.button {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    border: 1px solid #ffffff;
    display: inline-block;
    text-decoration: none;
    background: #ff1e1e;
    margin: 5px 0;
    text-transform: uppercase;
    color: #fff;
    padding: 6px 20px;
    border-radius: 4px;
}

a.button:hover {
    text-decoration: none;
    background: #303030;
}

a.button.bt1 {
    background: #56AE33;
    color: #ffffff;
    padding: 5px 20px;
    width: 100%;
    text-align: center;
    border: 1px solid #56AE33;
}

a.button.bt2 {
    background: #0000ff;
    color: #ffffff;
}

/* -------------------------------Zoom-Effect---------------------------------- */
.zoom-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100% !important;
}

.content-box.box-4 .item img {
    display: block;
    width: 100% !important;
    height: auto;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.content-box.box-4 .item:hover .zoom-container img {
    transform: scale(1.25);
}

.item-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-color: #fff;
    vertical-align: top;
    box-sizing: border-box;
}

.item-container img {
    display: block;
    width: 100%;
    height: auto;
}

.item-container .item-caption {
    position: absolute;
    inset: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 35px 30px;
    transition: 0.6s;
    background: rgba(0, 0, 0, 0.5);
}

.item-caption:hover {
    opacity: 0.9;
}

.item-caption-inner {
    display: table;
    width: 100%;
    height: 100%;
}

.item-caption-inner1 {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.item-container .item-caption i.fa {
    font-size: 40px;
}

.item-container .item-caption h3,
.item-container .item-caption span,
.item-container .item-caption i.fa {
    display: block;
    text-align: center;
    color: #fff;
}

.item-container .item-caption h3 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.item-container .item-caption span {
    font-size: 22px;
}

.item-container:hover .item-caption {
    background: none;
}

.item-container:hover .item-caption h3,
.item-container:hover .item-caption span,
.item-container:hover .item-caption i.fa {
    display: inline-block;
}

/* Maps ---------------------------------------------------------------------- */
.maps iframe {
    pointer-events: none;
}