parameters:
    appName: Fourhands

application:
    errorPresenter: Front:Error
    mapping:
        Admin: App\AdminModule\Presenters\*Presenter
        Front: App\FrontModule\Presenters\*Presenter

session:
    expiration: 14 days

services:
    router: App\Common\RouterFactory::createRouter

    security.authenticator:
        factory: App\Security\AdminAuthenticator(@Nette\Database\Explorer, @Nette\Http\Request)

    - App\Model\ContentRepository
    - App\Model\EventRepository
    - App\Model\MediaRepository
