database:
    dsn: 'mysql:host=127.0.0.1;dbname=fourhandscz'
    user: fourhandscz001
    password: %env.FOURHANDS_DB_PASSWORD%

parameters:
    mode: production

    # mail_settings:
    #     useSMTP: true
    #     SMTPhost: rsj-com.mail.protection.outlook.com
    #     SMTPport: '25'
    #     SMTPauth: false
    #     SMTPusername: ''
    #     SMTPpassword: ''
    #     SMTPsecure: tls
    #     defaultFrom: 'Klient.Backoffice@rsj.com'
    #     defaultTo: 'Klient.Backoffice@rsj.com'

    import_settings:
        production: true

    search_settings:
        baseUrl: 'https://fourhands.cz'