{block content}
    <h2>{if $editingId}Upravit událost{else}Nová událost{/if}</h2>
    <p><a n:href="default lang => $adminContentLang" class="btn-back">&larr; Zpět na přehled</a></p>

    {if $currentImagePath}
    <div class="preview-box">
        <strong>Aktuální fotografie:</strong><br>
        <img src="{$basePath}/{$currentImagePath}" alt="Náhled" class="media-preview">
    </div>
    {/if}

    {control eventForm}
{/block}
