{block content}
    <h2>{if $editingId}Upravit položku menu{else}Nová položka menu{/if}</h2>
    <p><a n:href="default" class="btn-back">&larr; Zpět na přehled</a></p>
    {control navigationForm}
{/block}
