{block content}
    <h2>{if $editingId}Upravit referenci{else}Nová reference{/if}</h2>
    <p><a n:href="default" class="btn-back">&larr; Zpět na přehled</a></p>
    {control testimonialForm}
{/block}
